<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Catálogo de productos</title>
</head>
<body>
  <h1>Catálogo de productos</h1>
  <ul id="productList"></ul>


  <ul>
    {{#each products}}
      <li>{{this.title}} - {{this.description}}</li>
    {{/each}}
  </ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('newProduct', (product) => {
      const parsedProduct = JSON.parse(product);
      const productList = document.querySelector('ul');
      const newProductItem = document.createElement('li');
      newProductItem.textContent = `${parsedProduct.title} - ${parsedProduct.description}`;
      productList.appendChild(newProductItem);
    });
  </script>
</body>
</html>

