form {
  background-color: white;
  border-radius: 3px;
  color: #999;
  font-size: 0.8em;
  padding: 20px;
  margin: 0 auto;
  width: 400px; /* Ajusta el ancho del formulario según tus preferencias */
}

input,
textarea {
  border: solid 1px #ccc;
  padding: 10px;
  width: 360px; /* Ajusta el ancho de los campos de entrada según tus preferencias */
  margin-bottom: 10px; /* Agrega un pequeño espacio entre los campos */
}

input[type="submit"] {
  background-color: #18A383;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
}

input[type="submit"]:hover {
  background-color: #128D67; /* Cambia el color al pasar el ratón sobre el botón */
}

.center-content {
  text-align: center;
}




/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:hover {
  background-color: #f5f5f5;
}

.btn-delete {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #ff4d4d;
}




