<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My App</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Ruta al archivo CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  {{{body}}} <!-- Aquí se insertará el contenido específico de cada vista -->
   <script src="/js/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 <!-- Ruta al archivo JavaScript -->
 <script src="../../Public/js/app.js"></script>
</body>
</html>
